<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76445662897-rek67nbgjai47acqfh23fm947hmlpl67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76445662897-rek67nbgjai47acqfh23fm947hmlpl67</string>
	<key>API_KEY</key>
	<string>AIzaSyDqPP1DuNE3TUgXO17i91iMNMqvympE5Ck</string>
	<key>GCM_SENDER_ID</key>
	<string>76445662897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qrd.name</string>
	<key>PROJECT_ID</key>
	<string>qard-da1a2</string>
	<key>STORAGE_BUCKET</key>
	<string>qard-da1a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76445662897:ios:d31f1d60432342c5976c90</string>
	<key>DATABASE_URL</key>
	<string>https://qard-da1a2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>